<mat-card>
    <mat-card-header>
        <mat-card-title>{{creatorName}}</mat-card-title>
        <mat-card-subtitle>{{creatorDescription}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{postData?.imageUrl}}">
    <mat-card-actions>
        <mat-icon *ngIf="!postData?.like" (click)="onLikeClick()" class="action-item" color="warn">favorite</mat-icon>
        <mat-icon *ngIf="postData?.like" (click)="onLikeClick()" class="action-item" color="warn">favorite_border</mat-icon>
        <mat-icon (click)="onReplyClick()" class="action-item" color="warn">chat_bubble_outline</mat-icon>
        <!-- <mat-icon class="action-item" color="warn">save</mat-icon> -->
    </mat-card-actions>
    <mat-card-content>
        <b>{{creatorName}}</b>   {{postData?.comment}}
    </mat-card-content>
</mat-card>